* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background: #70b575;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    /* width: 800px; */
    width: 100%;
    align-items: start;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    
}

.box {
    
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 10px;
    
}
.box1 {
    
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 10px;
}

h1{
    padding: 10px;
}
p {
    padding: 10px;
    color: gray;
}

.box img {
    height: 100%;
    width: 100%;
    
 
    
}
.box1 img {
    height: 100%;
    width: 100%;
    
    
    
  }
.comment1 {
    flex: 50%;
    font-size: 12px;
  
 
}
.comment2 {
    flex: 50%;
    text-align: right;
    font-size: 12px;
 
}
.left {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        min-width: 320px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        max-width: 90%;
    }
    .right{
        max-width: 90%;
    }
}